.begin-session {
  /* position: relative; */
  grid-row: 2 / 3;
  align-self: end;
  padding-top: 0.8em;
  font-size: 0.8rem;
  color: #a3afc0;
  /* font-family: Montserrat;
  font-style: normal; */
  text-align: center;

  text-shadow: 0rem 0.3em 0.3em rgba(0, 0, 0, 0.35);
}
