.modal {
  align-items: end;
  position: relative;
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: end;
  width: 100%;
  height: 80%;
  color: hsla(212, 18%, 60%, 1);
  z-index: 10;
  /* box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.04); */
  display: grid;
  grid-template-rows: 25% 25% 25% 25% 25%;
  grid-template-columns: 1fr;
}
.techniques-parent {
  display: grid;
  grid-row: 2/5;
  grid-template-rows: 1fr 2fr;
}

.modal-name {
  grid-row: 1/2;
  align-self: end;
  color: hsla(212, 18%, 60%, 1);
}
.modal-name p {
  position: relative;
  top: -0.5rem;
  visibility: visible;
  font-size: 0.6rem;
}
p.technique-name {
  grid-row: 1/2;
  font-size: 1em;
}

.list-of-techniques {
  font-size: 0.85rem;
  font-weight: 500;
  margin: 0% 10% -5% 10%;
  /* padding: 0.3em; */
  background: #23292d;

  border-radius: 62px;
}
.list-of-techniques ul {
  padding: 2% 0% 0% 6%;

  list-style-position: outside;
  list-style-type: none;
}
.list-of-techniques li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  /* background: url(../../assets/svgs/small.svg) no-repeat left top 10%; */
  /* background-size: 1.1em 1.1em; */
  padding-left: 0.1em;
  padding-top: 0.05em;
  padding-bottom: 0.07em;
  /* vertical-align: middle; */
  text-align: left;
}

.list-of-techniques li:hover svg .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
}

.list-of-techniques li p {
  visibility: visible;
  font-size: 0.45rem;
  font-weight: 400;
}
/* .list-of-techniques li:hover p {
  visibility: visible;
  font-size: 0.45rem;
} */

.short-description {
  /* margin: 0.2rem 0.3rem 0.3rem 0.3rem; */
  padding-right: 0.4em;
  text-align: left;
  color: hsla(212, 18%, 60%, 0.7);
  visibility: visible;
}
