.small_icon {
  display: inline-block;
  position: relative;
  width: 0.95rem;
  height: 0.95rem;
  border-radius: 50%;
  box-shadow: 0.12rem 0.12rem 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  margin: auto 0;
}

svg:hover .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
}

svg:active .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
}

svg:focus .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
}
