.darkBG {
  background: hsla(203, 12%, 21%, 1);
  /* background: linear-gradient(to top, #7f9790, #8ea8a0 60%, #e8e1d4); */
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 2fr 1fr;
}

.centered {
  /* position: relative; */
  width: 100%;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
}

.modal-name {
  grid-row: 1/2;
  padding-right: 0.7em;
  padding-bottom: 0.7em;
  align-self: end;
  justify-self: end;
  font-size: 1.8em;
  font-weight: 900;
  color: #faf8eb;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal button {
  background: #8ea8a0;
  display: inline-block;
  border-radius: 15px;
  width: fit-content;
}

.hmm {
  grid-row: 3/4;
  visibility: hidden;
}

.durations-list {
  height: 60%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.durations-list::-webkit-scrollbar {
  display: none;
}

.durations-list li {
  list-style: none;
}
