root {
  font-size: 62.5%;
  --bg-color: hsla(203, 12%, 21%, 1);
}
html {
  font-size: 1.8rem;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 401px) and (max-width: 590px) {
  html {
    font-size: 2rem;
  }
}

@media screen and (min-width: 591px) and (max-width: 650px) {
  html {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 651px) and (max-width: 799px) {
  html {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 949px) {
  html {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 950px) and (max-width: 1024px) {
  html {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1025px) {
  html {
    font-size: 2rem;
  }
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  margin: 0px;
  height: 100%;
  /* height: calc(var(--vh, 1vh) * 100); */
  color: #a3afc0;
}

.external-container {
  height: 100vh;
  /* height: calc(var(--vh, 1vh) * 100); */
}
.app-container {
  position: absolute;
  width: 100vw;
  height: 100%;
  max-width: 1024px;
  /* left: 50%;
  transform: translate(-50%, 0); */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  /* height: calc(var(--vh, 1vh) * 100); */
  padding: 0px;
  margin: 0;
  overflow: hidden;
}
/*animation: gradient 3s infinite;*/
.app_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: hsla(203, 12%, 21%, 1);
  padding: 0px;
  margin: 0;
}
@media screen and (min-width: 1025px) {
  .app-container {
    height: 800px;
    width: 400px;
    border-radius: 50px;
  }
}

/* grid-template-columns: 100%;
  grid-template-rows:
    13% 66% 1fr */
/* fr 4fr 1fr */
/* [row]
    calc(4 * var(--vh, vh)) calc(6 * var(--vh, vh)) calc(24 * var(--vh, vh))
    calc(40 * var(--vh, vh))
    calc(9 * var(--vh, vh)) calc(13 * var(--vh, vh)) calc(4 * var(--vh, vh)); */
/* grid-row-gap: 0px; */

/* .upper-line {
  display: grid;
  align-self: end;
  border-bottom: calc(0.8 * var(--vh, vh)) solid #e8e1d4;
  box-shadow: 0px calc(0.3 * var(--vh, vh)) calc(0.3 * var(--vh, vh))
    rgba(0, 0, 0, 0.25);
  width: 100%;
  z-index: 11;
} */
/* .upper-line-draw {
  border-bottom: calc(0.35 * var(--vh, vh)) solid #e8e1d4;
  width: 100%;
} */
.menu-icon {
  align-self: flex-end;
  padding-top: 0.8rem;
  padding-right: 0.6rem;
  z-index: 12;
}

/* .free-space1 {
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
} */

.timer-container {
  margin-top: 5%;
  height: 50%;
  display: grid;
  grid-template-rows: 4fr 2fr;
}

/* .free-space2 {
  grid-row: 5 / 6;
  display: grid;
} */

.menu-container {
  background: url(../assets/pictures/gory.png) no-repeat center bottom/ 100%;
  height: 20%;
  display: grid;

  padding-top: 2%;
}
.timer {
  padding-top: 5%;
}

@media screen and (min-width: 801px) {
  .menu-container {
    height: 27%;
  }
}

.progress-meter {
  position: relative;
  top: 30%;
  /* transform: translateX(90px); */
  z-index: auto;
  grid-row: 1/2;
  /* grid-area: 1/1/2/2; */
  place-self: center start;

  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 1rem;
  height: 1rem;
  /* background-color: red; */
  background: linear-gradient(
    to right,
    hsla(216, 100%, 94%, 1) -20%,
    hsla(206, 82%, 17%, 1) 116.18%
  );
  /* transition: left 1.2s linear; */
  /* animation-name: progress;
  animation-iteration-count: 1;
  animation-timing-function: linear; */
}

.visible-button {
  z-index: 99;
}

.showNavButtons-enter {
  opacity: 0;
}
.showNavButtons-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.showNavButtons-exit {
  opacity: 1;
}
.showNavButtons-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.showNavButtons-exit-done {
  opacity: 0;
}

/* @keyframes progress {
  0% {
    left: -3%;
  }
  100% {
    left: 100%;
  }
} */

/* .lower-line {
  grid-row: 7 / 8;
  display: grid;
  position: relative;
  align-self: start;
  border-bottom: calc(0.8 * var(--vh, vh)) solid #e8e1d4;
  box-shadow: 0px calc(0.3 * var(--vh, vh)) calc(0.3 * var(--vh, vh))
    rgba(0, 0, 0, 0.25);
  width: 100%; }*/

/* @keyframes gradient {
  0% {
    background: linear-gradient(0deg, #7f9790 10%, #8ea8a0 65%, #e8e1d4 100%);
  }
  50% {
    background: linear-gradient(0deg, #7f9790 3%, #8ea8a0 6%, #e8e1d4 100%);
  }
  100% {
    background: linear-gradient(0deg, #7f9790 10%, #8ea8a0 65%, #e8e1d4);
  }
} */
:focus-visible {
  outline-color: rgba(149, 183, 208, 1);
  outline-style: solid;
  outline-width: 0.1rem;
}
