.menu_icon {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  box-shadow: -0.12rem -0.12rem 0.5rem 0.1rem rgba(255, 255, 255, 0.25),
    0.12rem 0.12rem 0.5rem 0.1rem rgba(0, 0, 0, 0.25);
  margin: auto;
}

svg:hover .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
}

svg:active .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
}

svg:focus .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
}
