.darkBG-menu {
  color: hsla(212, 18%, 60%, 1);
  background: hsla(203, 12%, 21%, 1);
  /* background: linear-gradient(to top, #7f9790, #8ea8a0 60%, #e8e1d4); */
  width: 100%;
  height: 82%;
  z-index: 0;
  top: 0%;
  left: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;
}

.menu-modal {
  position: relative;
  padding-right: 1em;
  top: 10%;
  background: #23292d;
  text-align: left;
  font-size: 0.85rem;
  border-radius: 62px;
  width: 70%;
  height: max-content;
  max-height: 70%;
  color: hsla(212, 18%, 60%, 1);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.menu-modal::-webkit-scrollbar {
  display: none;
}
.menu-modal ul {
  overflow-y: scroll;
  padding: 2% 0% 0% 6%;

  list-style-position: outside;
  list-style-type: none;
}
.menu-modal li p {
  font-size: 0.5rem;
}

.menu-modal li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  background: url(../../assets/svgs/small.svg) no-repeat left top 15%;
  background-size: 1.1em 1.1em;
  padding-left: 15%;
  padding-bottom: 0.6em;
  /* vertical-align: middle; */
  text-align: left;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
