.darkBG-menu {
  color: hsla(212, 18%, 60%, 1);
  background: hsla(203, 12%, 21%, 1);
  /* background: linear-gradient(to top, #7f9790, #8ea8a0 60%, #e8e1d4); */
  width: 100%;
  height: 84%;
  z-index: 0;
  top: 0%;
  left: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;
}

/* @media screen and (min-width: 801px) and (max-height: 1100px) {
  .darkBG-menu {
    height: 75%;
  }
} */

.menu-modal {
  position: relative;
  margin-top: 5%;
  padding-right: 1em;
  top: 10%;
  background: #23292d;
  text-align: left;
  font-size: 0.85rem;
  border-radius: 62px;
  width: 80%;
  height: max-content;
  max-height: 100%;
  color: hsla(212, 18%, 60%, 1);
  overflow-y: scroll;
  /* scroll-padding: top right bottom left */
  scroll-padding-bottom: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.menu-modal::-webkit-scrollbar {
  display: none;
}
.menu-modal ul {
  overflow-y: scroll;
  /* scroll-padding: top right bottom left */
  scroll-padding: 0 0 50px 0;
  padding: 2% 0% 0% 6%;

  list-style-position: outside;
  list-style-type: none;
}

.menu-modal ul::-webkit-scrollbar {
  display: none;
}
.menu-modal li p {
  align-self: flex-end;
  font-size: 0.5rem;
  padding-bottom: 3%;
  scroll-padding-block-end: 2rem;
}

.menu-modal li {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end; */
  /* background: url(../../assets/svgs/small.svg) no-repeat left top 15%;
  background-size: 1.1em 1.1em; */
  padding-left: 3%;
  padding-bottom: 0.6rem;
  column-gap: 0.6rem;
  /* vertical-align: middle; */
  text-align: left;
  scroll-padding-bottom: 50px;
  max-height: 30%;
}

.collapsable {
  max-height: 40%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 0 0 50px 0;
}

.collapsable::-webkit-scrollbar {
  display: none;
}
.menu_item {
  display: flex;
  column-gap: 0.6rem;
  flex-wrap: wrap;
}
button {
  display: flex;
  column-gap: 0.6rem;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  margin: 0;
}
@media (hover: hover) and (pointer: fine) {
  .menu_item:hover svg .circleOuter {
    fill: hsla(206, 39%, 30%, 1);
  }
}

.menu_item[data-state="about"] svg .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
}
.menu_item[data-state="prepare"] svg .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
}
.menu_item[data-state="disclaimer"] svg .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
}
/* .menu_item button:focus .small_icon svg .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
} */

.menu_item button:focus svg .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
}
/*.menu_item:active svg .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
} */

/* button:focus svg .circleOuter {
  fill: hsla(206, 39%, 30%, 1);
} */
